<?xml version="1.0" encoding="UTF-8"?>
<!--
[役割] web: Webアプリの設定。
[入力] サーバ起動時。
[出力] フィルタ/サーブレット設定に反映。
[依存] Servletコンテナ(Tomcat)。
-->
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
  <display-name>project-kanri</display-name>

  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>jp.co.example.pm.web.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>jp.co.example.pm.web.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>ApiExceptionFilter</filter-name>
    <filter-class>jp.co.example.pm.web.api.ApiExceptionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ApiExceptionFilter</filter-name>
    <url-pattern>/api/*</url-pattern>
  </filter-mapping>

  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
</web-app>
